:root {
	--month-height: 4vw;
}
.year-container {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	justify-content: center;
	align-items: center;
}
.month {
	height: 100%;
	margin: 2px;
	color: #444444;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-sizing: border-box;
	border-radius: 0.3em;
	box-shadow: 0px 0px 1px 0px #0000000d;
}
.month:hover {
	box-shadow: 0 2px 4px 1px #0000000d;
	transition: all 0.3s;
}
.month.selected {
	background: #ffc482;
	color: #fff;
	font-weight: 700;
}
.month.disabled.selected {
	background: #36976f5b;
	color: #fff !important;
}
.month.disabled {
	box-shadow: none;
}
