.month-container {
	display: flex;
	flex-direction: column;
}
.days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-row-gap: 0.6em;
	grid-column-gap: 0.6em;
	justify-items: center;
	align-items: center;
	text-align: center;
}
.week-days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	margin-bottom: 8px;
	justify-items: center;
	align-items: center;
	text-align: center;
}
.label-container {
	text-align: center;
}
.label {
	font-weight: 500;
}
