.picker {
	border: 1.6px solid #e6e6e6;
	border-radius: 0.3em;
	position: relative;
	cursor: pointer;
	width: fit-content;
	padding: 0.3em;
}
.inner-picker {
	min-width: fit-content;
	width: auto;
	padding-left: 0.4em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.inner-picker.disabled {
	color: rgb(112, 112, 112);
}
.inner-picker > .inputs {
	pointer-events: none;
}
.icon {
	font-size: 1.6em;
	padding: 0 8px;
	width: 1em;
	display: flex;
}
.outer-container {
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	transition: none;
	z-index: 2;
	display: block;
}
.inner-container {
	background: #fff;
	box-shadow: 0px 4px 8px rgb(0 0 0 / 0.16);
	padding-top: 0;
}

.outer-container {
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	transition: none;
	z-index: 2;
	display: block;
}
.inner-container {
	background: #fff;
	box-shadow: 0px 4px 8px rgb(0 0 0 / 0.16);
	padding-top: 0;
}
button {
	border: none;
	border-radius: 0.4em;
}
.calendar-button {
	margin: 0 0.4em;
	outline: none;
}
.calendar-button.right {
	order: 1;
}
.calendar-button.left {
	order: -1;
}
div.animation-target {
	display: none;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-duration: 0.3s;
	animation-delay: 0;
	animation-direction: normal;
	animation-iteration-count: 1;
	animation-play-state: running;
	animation-timing-function: ease-in-out;
	animation-name: animate;
}

div.animation-target.in {
	display: inline-flex;
	animation-direction: normal;
}

div.animation-target.out {
	display: none;
	animation-direction: reverse;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: scaleY(0.1);
	}
	100% {
		opacity: 1;
		transform: scaleY(1);
	}
}
